# Aktiviert die Rewrite-Engine
RewriteEngine On

# Basisverzeichnis für die Rewrites setzen
# Da die Domain direkt auf kickerscup.local zeigt, brauchen wir "/"
RewriteBase /

# Echte Dateien und Verzeichnisse nicht umleiten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alle Anfragen an index.php weiterleiten
RewriteRule ^(.*)$ index.php [QSA,L]